{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}

{% block head %}
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <style>
        .btn img{
            max-width: 50px;
            max-height: 50px;
        }
        #questions {
            width: 1000px;
            height: 50px;
            border-radius: 10px;
        }
    </style>
{% endblock %}

{% block content %}    

    <div style="text-align: center;">
        <img src="{% static 'imgs/logo.png'%}" alt="GRUPPO CONCORDE "> <br> <br>
        <h3 style="color: cadetblue;"> <strong> ElisaGPT</strong></h3> <br>
    
        
        {% if type == "completion" %}
            <form method="post" action="{% url 'gestione:completion' %}">
                {{ form|crispy}}
                {% csrf_token %}
                <input type="text" name="questions" id="questions"><br><br>
                <button class="my_button" type="submit">Invia</button>
            </form><br>
            
            {% for answer in answers %}
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">{{answer.user_request}}</h5>
                        <p class="card-text">{{answer.answer}}</p>
                    </div>
                    <div class="card-footer text-muted">
                        {{answer.date}}
                    </div>
                </div>
        {% endfor %}
        <br>
            
        {% else %}
            
            <form method="post" action="{% url 'gestione:chunks' %}">
                {{ form|crispy}}
                {% csrf_token %}
                <input type="text" name="questions" id="questions"><br><br>
                <button class="my_button" type="submit">Invia</button>
            </form><br>
            
            
            {% for doc_request in doc_requests %}

                <div class="card text-center">
                    <div class="card-body" style="background-color: cadetblue">
                        <h5 class="card-title">{{doc_request.user_request}}</h5>
                        <ul>
                            {% for doc_answer in doc_answers %}
                                {% if doc_answer.doc_request == doc_request %}
                                    <li>
                                        <div class="card text-center">
                                            <div class="card-body">
                                                <h6 class="card-title">{{doc_answer.text}}</h6>
                                                <p class="card-text">{{doc_answer.file_name}}</p>
                                            </div>
                                            <div class="card-footer text-muted">
                                                {{doc_answer.score}}
                                            </div>
                                        </div>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>

                    </div>
                    <div class="card-footer text-muted">
                        {{doc_request.date}}
                    </div>
                </div>
            {% endfor %}
            
        {% endif %}
        <br>
        <a class="my_button" href="{% url 'home_login' %}"> Home</a> <br> <br>
    </div>
{% endblock %}