{% extends 'base.html' %}
{% load static %}
{% block head %}
{%endblock%}

{% block content%}
    <div style="text-align: center;">
        <img src="{% static 'imgs/logo.png'%}" alt="GRUPPO CONCORDE "> <br> <br>
        <h3 style="color: cadetblue;">  Lista di documenti ingestati </h3> <br>
        
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome Documento </th>
                </tr>
            </thead>
            {% for documento in documenti %}
                <tbody>
                    <tr>
                        <th scope="row">{{forloop.counter0}}</th>
                        <td> {{ documento }} </td>     
                        <td> </td>
                    </tr>
                </tbody>
            {% endfor %}
        </table>
    </div>
{% endblock %}