{% extends 'base.html' %}
{% load static %}
{% block head %}
    
    <style>
        .navbar-nav > li {
            margin-left: 35px ;
        }
        .large-italic-text {
            font-size: 18px;
            font-style: italic;
        }
    </style>
{% endblock %}
{% block content %}    
    
    {%if user.is_staff %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #008B8B;">
            <img src="{% static 'imgs/logo.png' %}" width="250" height="40" class="d-inline-block align-top" alt="">
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                        E-ListaGPT
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'gestione:completion' %}">Competion Chat</a>
                            <a class="dropdown-item" href="#">Chunks Chat</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                        Gestione Utenti
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'create_user' %}">Crea nuovo utente basilare</a>
                            <a class="dropdown-item" href="{% url 'create_expert_user' %}">Crea nuovo utente esperto</a>
                            <a class="dropdown-item" href="{% url 'list_user' %}">Visualizza Utenti</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                        Gestione Documenti
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Aggiungi un documento</a>
                            <a class="dropdown-item" href="#">Lista di documenti</a>
                            <a class="dropdown-item" href="#">Rimuovi un documento</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                        Revisione Risposte
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Non visualizzate </a>
                            <a class="dropdown-item" href="#">Visualizzate in attesa</a>
                            <a class="dropdown-item" href="#">Approvate</a>
                            <a class="dropdown-item" href="#">Rifiutate</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        
        <div style="text-align: center;"> <br>
            <h2 style="color: cadetblue;"> <strong>Benvenuto admin </strong></h2> <br>
            <p class="large-italic-text"> In questa sezione puoi monitorare il funzionamento dell'intera applicazione.  </p>
            <p class="large-italic-text">  Nella sezione E-LisaGPT puoi accedere alla chat  </p>
            <p class="large-italic-text"> Nella sezione Gestione utenti puoi creare e rimuovere utenti, e modificare le password degli utenti smemorati  </p>
            <p class="large-italic-text">  Nella sezione Gestione Documenti puoi visualizzare i documenti ingestati, aggiungere nuovi documenti
            o rimuovere documenti che creano malfunzionamenti</p>
            <p class="large-italic-text">  Nella sezione Revisione puoi visualizzare le risposte segnalate dagli utenti  </p>
        </div>
        
        
        
        
        
        
    {% elif 'expert_user' in user.groups.all.1.name %}
         <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #008B8B;">
             <img src="{% static 'imgs/logo.png' %}" width="250" height="40" class="d-inline-block align-top" alt="">
             <div class="collapse navbar-collapse" id="navbarNavDropdown">
                 <ul class="navbar-nav">
                     <li class="nav-item">
                        <a class="nav-link" href="#">E-ListaGPT</a>
                     </li>
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                        Gestione Documenti
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Aggiungi un documento</a>
                            <a class="dropdown-item" href="#">Lista di documenti</a>
                        </div>
                    </li>
                    
                </ul>
            </div>
        </nav>
        
        <div style="text-align: center;"> <br>
            <h2 style="color: cadetblue;"> <strong>Benvenuto {{ user.username }} </strong></h2> <br>
            <p class="large-italic-text">  Nella sezione E-LisaGPT puoi accedere alla chat  </p>
            <p class="large-italic-text"> Nella sezione Gestione documenti puoi visualizzare la lista di documenti inseriti e aggiungere nuovi 
                documenti che ritieni possano essere utili </p>
        
        
    {% else %}
        <div style="text-align: center;"> 
            <h3 style="color: cadetblue;"> Benvenuto {{ user.username }} </h3>
            <p> Accedi a ElisaGPT </p>
        </div>
        
    {% endif %}

    <div class="div-bassa-2">
        <a href="{% url 'logout' %}" class="my_button">Logout</a>
    </div>

</div>



{% endblock %}