{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load static %}

{% block head %}
{% endblock %}

{% block content %}
    <div style="text-align: center;">
        <img src="{% static 'imgs/logo.png'%}" alt="GRUPPO CONCORDE "> <br> <br>
        <h3 style="color: cadetblue;"> Modifica password di {{ user.username }} </h3>
    
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <input class="my_button" type="submit" value="Modifica password">
        </form>
    </div>
{% endblock %}